//
// Section Body
// --------------------------------------------------

// Variable
// --------------------------------------------------
$TITLE-padding: 15px;
$TITLE-padding-mb: 15px;

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------
*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

:root {
  --navbar-header-height: 135px;
  --navbar-header-height-mobile: 105px;
}

html {
  font-size: 1rem;
  overflow-x: hidden;

  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
    overflow-x: hidden;

    font-family: $CONST-FONT-SourceSansPro;
    font-size: $var-rem-baseline;
    line-height: 1.6;
    color: $color-c1;
    background-color: $white;
    background-image: none;
    a,
    .nav-link {}

    p {
      @include p;
    }
  }
}

h2,
h3,
h4,
h5,
h6 {
  //margin: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 25px;
  margin-bottom: 12.5px;
}
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 19.2307692308px;
}
nav ul {
  @include list-reset;
}
b, strong {
  font-weight: 600;
}
p {
  margin-bottom: 0;

  &+p {
    margin-top: 12.5px;
  }
}


h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
  &.title {
    background-image: -webkit-linear-gradient(top, #4d4d4d 0%, #828282 100%);
    background-image: -o-linear-gradient(top, #4d4d4d 0%, #828282 100%);
    background-image: linear-gradient(to bottom, #4d4d4d 0%, #828282 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF4D4D4D",endColorstr="#FF828282",GradientType=0);
    color: white;
    padding: 0.3em 0.5em;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
  }
}

h3,
.h3 {
  @include h3;
}

h5,
h5 {
  @include h5;
}

blockquote {
  @include blockquote;

  p {
    @include blockquote-p;
  }
}

.ajax-progress {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  z-index: 9999;

  img,
  div {
    display: none !important;
  }

  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $dark;
    border-color: $dark transparent $dark transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.row{
  margin-right: -15px;
  margin-left: -15px;
  &>* {
    padding-right: 15px;
    padding-left: 15px;
  }
}

// Container bonus.
// --------------------------------------------------
.container {
  padding-right: 15px;
  padding-left: 15px;

  &-x4p {
    @include media-breakpoint-up(lg) {
      max-width: 1440px;
    }
  }

  &-x3p {
    @include media-breakpoint-up(lg) {
      max-width: 1232px;
    }
  }

  &-x2p-lg {
    @include media-breakpoint-up(lg) {
      max-width: 1200px;
    }


  }

  &-x2p {
    @include media-breakpoint-up(lg) {
      max-width: 1062px;
    }


  }

  &-lg {
    @include media-breakpoint-up(lg) {
      max-width: 1036px;
    }
  }

}

// Content.
// --------------------------------------------------
main[role="main"] {
  // padding-top: $header-height;
  padding-top: 20px;
  position: relative;
 // z-index: 1;
}

.container{
  &-fluid{
    &-cuctom{
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      @include MQ(XLplus) {
        width: 90%;
      }
      @include MQ(XXLplus) {
        width: 80%;
      }
    }
  }
}


.navbar{
  background-image:none;
}


.speech-bubble {
  position: relative;
  background: #fff;
  border-radius: 3px;
  width: 2em;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #333333;
  font-size: 85%;
  border: 2px solid #C9D3BC;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 0.6em solid transparent;
    border-top-color: #C9D3BC;
    border-bottom: 0;
    border-left: 0;
    margin-left: -0.172em;
    margin-bottom: -0.6em;
  }
}
.spotlight {
  .btn {
    padding: 10px 6px;
  }
  i, .glyphicon {
    width: 2.2em;
    font-size: 18px;
    display: block;
    float: left;
    padding-top: 2px;
  }
  div {
    /*font-size: $font-size-small;*/
    line-height: $line-height-xsmall;
    text-align: left !important;
    overflow: hidden;
    /*font-weight: 600;*/
  }
}
.btn-light {
  color: #000;
  background-color: #c0d5d8;
  border-color: #b0cbce;
}
.spotlight.btn-group-vertical a {
  margin-bottom: 12px;
  border-color: #6c8985;
  border-width: 2px;

}
.supertitle {
  font-size: $font-size-small !important;
  text-transform: uppercase;
  font-weight: bold;
  color: $gray-light;
}
.topic-credit {
  strong {
    color: $brand-midtone;
  }
  em {
    color: $gray-dark;
  }
}
.nullify {
  font-size: 16px;
}
.navbar-collapse{
  margin-top: 0;
}
p.content-category {
  text-transform: uppercase;
  color: #4d4d4d;
}
.lead, .Deck {
  font-weight: 400;
  line-height: 1.2;
  @include font-size($h3-font-sizes);
  margin-bottom: .5em;
  color: #2D5751;
  font-style: italic;
}
.megatitle {
  text-transform: uppercase;
  font-size: 18px;
  color: #a6a6a6;
  display: inline-block;
  padding-bottom: 5px;
}
/*
/* TIPSHEET INDEX */

.tipsheet-index {
  h2 {
    background-color: $brand-light;
    padding: 5px 10px;
    font-weight: 400;
    @include MQ(SMplus) {
      margin: 1em 0 0.75em;
    }
  }
  h4 {
    font-style: italic;
    font-weight: 400;
    @include MQ(SMplus) {
      padding-left: 10px;
      float: left;
      width: 30%;
      clear: left;
      margin-top: 0;
    }
    @include MQ(Mplus) {
      width: 20%;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    @include MQ(SMplus) {
      width: 70%;
      overflow: hidden;
      padding-left: 20px;
    }
    @include MQ(Mplus) {
      width: 80%;
    }
  }
  li {
    margin-bottom: 1em;
  }
}
.pagination{
  margin: 10px 0;
  justify-content: center;
}
.supertitle {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #a6a6a6;
}
.paywall {
  display: block;
  border: 1px solid darken(#DCDBE8, 10%);
  @include gradient-vertical(#E7E6E9, #DCDBE8, 0%, 100%);
  padding: 0 1.5em 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;

  .btn {
    margin: 0.5em 0 0.25em;

    &.btn-paywall-annual {
      background-color: #2B5597;
      border-color: #2B5597;
    }
  }

  h3 {
    font-weight: normal;
  }

}
.messages{
  &--error,
  &--warning,
  &--status{
    margin-left: 8px;
  }
}

.page-topper {
  background-color: #a6a6a6;
  color: white;
  padding: 0.5em;
  text-transform: uppercase;
}

.field--name-field-promo-image{
  img{
    width: 100%;
  }
}
.nullify {
  font-size: 16px;
  h2 {
    font-size: 40px;
    letter-spacing: 0;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 16px;
  }
}

small,.small {
  font-size: 81%;
}

.layout-checkout-form{
  ol.checkout-progress{
    margin: 0 0 1em;
    padding: 0.5em 0 0.5em 1em;
    text-transform: uppercase;
    background-color: #eaf4df;
    display: flex;
    flex-wrap: wrap;
    li  {
      display: block;
      list-style: outside none none;
      position: relative;
      text-align: center;
      width: auto;
      color: #868093;

      &.checkout-progress--step__current {
        color: #333139;
      }

      &.checkout-progress--step::before{
        content: "\00bb";
        padding: 0 1em 0 0;
        font-weight: 400;
        color: #333139;
      }

    }
  }
}
.form-wrapper__login-option,
.checkout-pane-payment-information{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: $card-height;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);
  @include box-shadow($card-box-shadow);
  padding: 0;
  > legend{
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }
  > .fieldset-wrapper{
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
}


.account-status {
  background-color: #fff;
  line-height: 1.2;
  padding: 12px 8px;
  border-radius: 5px;
  border: 1px solid #655F70;
}

@media only screen and (max-width: 767px) {
  .account-status {
    margin:10px -5px;
  }
}

.account-status .btn {
  border-radius: 0;
  text-align: left;
}

.account-status h4 {
  padding-top: 10px;
  border-top: 1px dotted gray;
  margin: 15px 0 12px;
  font-size: 20px;
  line-height: 22px;
  color: #230f5a;
}

.account-status h4:first-of-type {
  padding-top: 0;
  border-top: none;
  margin-top: inherit;
}
/****************************/

.user-sidebar h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

@media only screen and (min-width: 768px) {
  .user-sidebar h3 {
    font-size:18px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 768px) {
  .user-sidebar ul {
    padding:0;
    list-style-type: none;
    border: 1px solid #655F70;
  }

  .user-sidebar ul li {
  }

  .user-sidebar ul li button,
  .user-sidebar ul li a {
    text-decoration: none;
    color: #39306D;
    padding: 0.5em;
    background-color: #fff;
    border: none;
    border-bottom: 0.031rem solid #999;
    width: 100%;
    text-align: left;
  }

  .user-sidebar ul li button:visited,
  .user-sidebar ul li a:visited {
    color: #39306D;
  }

  .user-sidebar ul li button:hover,
  .user-sidebar ul li a:hover {
    color: white;
    background-color: #230f5a;
  }

  .user-sidebar ul li button.active,.user-sidebar ul li button.active:hover,
  .user-sidebar ul li.active a,.user-sidebar ul li.active a:hover {
    color: white;
    background-image: -webkit-linear-gradient(top,#6D6984 0%,#a3a0b3 100%);
    background-image: -o-linear-gradient(top,#6D6984 0%,#a3a0b3 100%);
    background-image: linear-gradient(to bottom,#6d6984 0%,#a3a0b3 100%);
  }

  .user-sidebar ul ul {
    border-width: 0 0 1px;
    border-color: #999;
  }

  .user-sidebar ul ul li button,
  .user-sidebar ul ul li a {
    border-bottom: none;
    padding: 5px 5px 5px 15px;
    background-color: transparent;
  }

  .user-sidebar ul.team-options button:hover,
  .user-sidebar ul.team-options a:hover {
    color: inherit;
    background-color: #fff;
  }
}
.bg-light-custom{
  background-color: #EDECEE;
}
.navbar-inverse {
  background-color: #222;
  border-color: #090909;
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#000 0%,#5d5d77 100%);
  background-image: -o-linear-gradient(top,#000 0%,#5d5d77 100%);
  background-image: linear-gradient(to bottom,#000 0%,#5d5d77 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF000000",endColorstr="#FF5D5D77",GradientType=0);
  ul.navbar-nav li a{
    color: #fff !important;
  }
}
/****************************/
