footer {
  margin-top: 45px !important;
    >.container {
        border-top: 1px solid $gray-light;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .logo-footer {
      display: none;
      margin-top: 15px;
      padding-right: 30px;
      @include media-breakpoint-up(md) {
        display: block;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .region-footer-first {
        nav {
            &.menu--footer {
                ul {
                    &.navbar-nav {
                        display: flex;
                        flex-direction: row;
                        li {
                            padding-right: 15px;
                            a {
                                font-family: $CONST-FONT-SourceSansPro;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 1.6;
                                color: $blue-dark;
                                text-decoration: none;
                              &:hover {
                                color: $blue-dark-1;
                                text-decoration: underline;
                              }
                            }
                        }
                    }
                }
            }
        }
      p{
        font-family: $CONST-FONT-SourceSansPro;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: $blue-dark;
      }
    }
    .region-footer-second {
      .menu--reseau-sociaux {
        display: none;
        @include media-breakpoint-up(md) {
          display: block;
        }
        ul {
          &.navbar-nav {
            text-align: right;
            a {
              text-decoration: none !important;
              .bg-icon {font-size: 200%;
                color: $color-green;}
            }
          }
        }
      }
    }
}
