# Front Ignore
# Logs
logs
*.log
npm-debug.log*

# Systeme files
.DS_Store
.sass-cache
.publish
.idea

# Dependency directories
node_modules

# Optional npm cache directory
.npm

#Dist stands for distribution
dist

# don't ignore keep files
!.gitkeep

# Docker config
.env
