//
// Util Margin
// --------------------------------------------------

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------
@mixin generate-icon($n, $j: 1) {
  @if $j <= $n {

    @for $i from $j through $n {

      $size: ($i * $CONST-BASE-UNIT) / 2;
      $iclass: '';
      @if $i != -1 {
        $iclass: -#{$i};
      }

      .icon {
        &.icon#{$iclass} {
          background-size: contain;
          height: $size;
          width: $size;
        }
      }

    }
  }
}

// Making
// --------------------------------------------------
.icon {
  background-repeat: no-repeat;

  &.bz-auto{
    background-size: auto !important;
  }

  &.bp-c {
    background-position: 50%;
  }

  &.bpx-l {
    background-position-x: left;
  }

  &.bpx-c {
    background-position-x: center;
  }

  &.bpx-r {
    background-position-x: right;
  }

  &.bpy-t {
    background-position-y: top;
  }

  &.bpy-c {
    background-position-y: center;
  }

  &.bpy-b {
    background-position-y: bottom;
  }

  &.rotate-90 {
    transform: rotate(90deg);
  }

  &.rotate-180 {
    transform: rotate(180deg);
  }

  &.rotate-270 {
    transform: rotate(270deg);
  }

  &.flip-horizontal {
    transform: scale(-1, 1);
  }

  &.flip-vertical {
    transform: scale(1, -1);
  }

  &.icon-calendar {
    background-position: center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 0.5rem;
    background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.1579 3.5602H3.8421C2.2725 3.5602 1 4.8402 1 6.419v15.7227c0 1.5788 1.2725 2.8586 2.8421 2.8586H14.929l.1358-6.4024c.0329-1.5547 1.2954-2.7977 2.8414-2.7977H25V6.4189c0-1.5788-1.2725-2.8587-2.8421-2.8587zm-.0045.4802c1.3073 0 2.3671 1.0662 2.3671 2.3814v8.9017H17.904c-1.8027 0-3.2748 1.4497-3.3132 3.2629l-.1257 5.934H3.8476c-1.3073 0-2.367-1.0661-2.367-2.3814V6.4218c0-1.3152 1.0597-2.3814 2.367-2.3814h18.3058z' fill='%23DF4B24'/%3E%3Cpath d='M14.929 25.0002v.25h.2448l.0052-.2447-.25-.0053zm.1358-6.4024l.2499.0053-.2499-.0053zM25 15.8001v.25h.25v-.25H25zm-.4795-.4766v.25h.25v-.25h-.25zm-9.9297 3.2629l-.2499-.0053.2499.0053zm-.1257 5.934v.25h.2447l.0052-.2447-.2499-.0053zM3.8421 3.8102H22.158v-.5H3.8421v.5zM1.25 6.419c0-1.442 1.1619-2.6087 2.5921-2.6087v-.5C2.1331 3.3102.75 4.7034.75 6.419h.5zm0 15.7227V6.4189h-.5v15.7227h.5zm2.5921 2.6086c-1.4302 0-2.5921-1.1665-2.5921-2.6086h-.5c0 1.7155 1.383 3.1086 3.0921 3.1086v-.5zm11.0869 0H3.8421v.5H14.929v-.5zm-.1142-6.1577l-.1357 6.4024.4999.0106.1357-6.4024-.4999-.0106zm3.0914-3.0424c-1.6834 0-3.0556 1.3531-3.0914 3.0424l.4999.0106c.0301-1.42 1.1828-2.553 2.5915-2.553v-.5zm7.0938 0h-7.0938v.5H25v-.5zm-.25-9.1312v9.3812h.5V6.4189h-.5zm-2.5921-2.6087c1.4302 0 2.5921 1.1666 2.5921 2.6087h.5c0-1.7155-1.383-3.1087-3.0921-3.1087v.5zm2.6126 2.6116c0-1.4518-1.1703-2.6314-2.6171-2.6314v.5c1.1678 0 2.1171.9529 2.1171 2.1314h.5zm0 8.9017V6.4218h-.5v8.9017h.5zm-6.8665.25h6.6165v-.5H17.904v.5zm-3.0632 3.0182c.0355-1.6786 1.3979-3.0182 3.0632-3.0182v-.5c-1.9401 0-3.5219 1.5598-3.5631 3.5076l.4999.0106zm-.1258 5.934l.1258-5.934-.4999-.0106-.1258 5.934.4999.0106zm-10.8674.2447h10.6175v-.5H3.8476v.5zm-2.617-2.6314c0 1.4519 1.1702 2.6314 2.617 2.6314v-.5c-1.1678 0-2.117-.9528-2.117-2.1314h-.5zm0-15.7172V22.139h.5V6.4218h-.5zm2.617-2.6314c-1.4468 0-2.617 1.1796-2.617 2.6314h.5c0-1.1785.9492-2.1314 2.117-2.1314v-.5zm18.3058 0H3.8476v.5h18.3058v-.5z' fill='%23DF4B24'/%3E%3Cpath d='M15.0742 1.0798V6.029h.48V1.0798h-.48zM6.081 1.0887v4.9492h.48V1.0887h-.48zM19.709 1.0798V6.029h.48V1.0798h-.48zM10.75 1.0798V6.029h.48V1.0798h-.48zM24.8386 15.3029l-10.24 9.36.3239.3542 10.24-9.36-.3239-.3542z' fill='%23DF4B24' stroke='%23DF4B24' stroke-width='.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.3186 9.2405h-3.2a.56.56 0 00-.56.56v3.2a.56.56 0 00.56.56h3.2a.56.56 0 00.56-.56v-3.2a.56.56 0 00-.56-.56zm-3.2795.5602a.08.08 0 01.08-.08h3.2a.08.08 0 01.08.08v3.2a.08.08 0 01-.08.08h-3.2a.08.08 0 01-.08-.08v-3.2z' fill='%23DF4B24'/%3E%3Cpath d='M6.1186 9.4905h3.2v-.5h-3.2v.5zm-.31.31a.31.31 0 01.31-.31v-.5a.81.81 0 00-.81.81h.5zm0 3.2v-3.2h-.5v3.2h.5zm.31.31a.31.31 0 01-.31-.31h-.5a.81.81 0 00.81.81v-.5zm3.2 0h-3.2v.5h3.2v-.5zm.31-.31a.31.31 0 01-.31.31v.5a.81.81 0 00.81-.81h-.5zm0-3.2v3.2h.5v-3.2h-.5zm-.31-.31a.31.31 0 01.31.31h.5a.81.81 0 00-.81-.81v.5zM6.119 9.4707a.33.33 0 00-.33.33h.5a.17.17 0 01-.17.17v-.5zm3.2 0h-3.2v.5h3.2v-.5zm.33.33a.33.33 0 00-.33-.33v.5a.17.17 0 01-.17-.17h.5zm0 3.2v-3.2h-.5v3.2h.5zm-.33.33a.33.33 0 00.33-.33h-.5a.17.17 0 01.17-.17v.5zm-3.2 0h3.2v-.5h-3.2v.5zm-.33-.33a.33.33 0 00.33.33v-.5a.17.17 0 01.17.17h-.5zm0-3.2v3.2h.5v-3.2h-.5z' fill='%23DF4B24'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7619 9.2405H11.562a.56.56 0 00-.56.56v3.2a.56.56 0 00.56.56h3.1999a.56.56 0 00.56-.56v-3.2a.56.56 0 00-.56-.56zm-3.2794.5602a.08.08 0 01.08-.08h3.2a.08.08 0 01.08.08v3.2a.08.08 0 01-.08.08h-3.2a.08.08 0 01-.08-.08v-3.2z' fill='%23DF4B24'/%3E%3Cpath d='M11.562 9.4905h3.1999v-.5H11.562v.5zm-.31.31a.31.31 0 01.31-.31v-.5a.81.81 0 00-.81.81h.5zm0 3.2v-3.2h-.5v3.2h.5zm.31.31a.31.31 0 01-.31-.31h-.5a.81.81 0 00.81.81v-.5zm3.1999 0H11.562v.5h3.1999v-.5zm.31-.31a.31.31 0 01-.31.31v.5a.81.81 0 00.81-.81h-.5zm0-3.2v3.2h.5v-3.2h-.5zm-.31-.31a.31.31 0 01.31.31h.5a.81.81 0 00-.81-.81v.5zm-3.1994-.0198a.33.33 0 00-.33.33h.5a.17.17 0 01-.17.17v-.5zm3.2 0h-3.2v.5h3.2v-.5zm.33.33a.33.33 0 00-.33-.33v.5a.17.17 0 01-.17-.17h.5zm0 3.2v-3.2h-.5v3.2h.5zm-.33.33a.33.33 0 00.33-.33h-.5a.17.17 0 01.17-.17v.5zm-3.2 0h3.2v-.5h-3.2v.5zm-.33-.33a.33.33 0 00.33.33v-.5a.17.17 0 01.17.17h-.5zm0-3.2v3.2h.5v-3.2h-.5z' fill='%23DF4B24'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.3186 14.6807h-3.2a.56.56 0 00-.56.56v3.2a.56.56 0 00.56.56h3.2a.56.56 0 00.56-.56v-3.2a.56.56 0 00-.56-.56zm-3.2795.5602a.08.08 0 01.08-.08h3.2a.08.08 0 01.08.08v3.2a.08.08 0 01-.08.08h-3.2a.08.08 0 01-.08-.08v-3.2z' fill='%23DF4B24'/%3E%3Cpath d='M6.1186 14.9307h3.2v-.5h-3.2v.5zm-.31.31a.31.31 0 01.31-.31v-.5a.81.81 0 00-.81.81h.5zm0 3.2v-3.2h-.5v3.2h.5zm.31.31a.31.31 0 01-.31-.31h-.5a.81.81 0 00.81.81v-.5zm3.2 0h-3.2v.5h3.2v-.5zm.31-.31a.31.31 0 01-.31.31v.5a.81.81 0 00.81-.81h-.5zm0-3.2v3.2h.5v-3.2h-.5zm-.31-.31a.31.31 0 01.31.31h.5a.81.81 0 00-.81-.81v.5zm-3.1995-.0198a.33.33 0 00-.33.33h.5a.17.17 0 01-.17.17v-.5zm3.2 0h-3.2v.5h3.2v-.5zm.33.33a.33.33 0 00-.33-.33v.5a.17.17 0 01-.17-.17h.5zm0 3.2v-3.2h-.5v3.2h.5zm-.33.33a.33.33 0 00.33-.33h-.5a.17.17 0 01.17-.17v.5zm-3.2 0h3.2v-.5h-3.2v.5zm-.33-.33a.33.33 0 00.33.33v-.5a.17.17 0 01.17.17h-.5zm0-3.2v3.2h.5v-3.2h-.5z' fill='%23DF4B24'/%3E%3Cpath d='M14.0835 18.7601h-2.5548a.289.289 0 01-.2889-.2889v-3.0223a.2889.2889 0 01.2889-.2888h3.0222a.2888.2888 0 01.2889.2888v.8327h.48v-.8327a.7688.7688 0 00-.7689-.7688h-3.0222a.7689.7689 0 00-.7689.7688v3.0223a.769.769 0 00.7689.7689h2.5548v-.48z' fill='%23DF4B24' stroke='%23DF4B24' stroke-width='.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.1995 9.2404h-3.2a.56.56 0 00-.56.56v3.2a.56.56 0 00.56.56h3.2a.56.56 0 00.56-.56v-3.2a.56.56 0 00-.56-.56zm-3.2795.5602a.08.08 0 01.08-.08h3.2a.08.08 0 01.08.08v3.2a.08.08 0 01-.08.08H17a.08.08 0 01-.08-.08v-3.2z' fill='%23DF4B24'/%3E%3Cpath d='M16.9995 9.4904h3.2v-.5h-3.2v.5zm-.31.31a.31.31 0 01.31-.31v-.5a.81.81 0 00-.81.81h.5zm0 3.2v-3.2h-.5v3.2h.5zm.31.31a.31.31 0 01-.31-.31h-.5a.81.81 0 00.81.81v-.5zm3.2 0h-3.2v.5h3.2v-.5zm.31-.31a.31.31 0 01-.31.31v.5a.81.81 0 00.81-.81h-.5zm0-3.2v3.2h.5v-3.2h-.5zm-.31-.31a.31.31 0 01.31.31h.5a.81.81 0 00-.81-.81v.5zM17 9.4706a.33.33 0 00-.33.33h.5a.17.17 0 01-.17.17v-.5zm3.2 0H17v.5h3.2v-.5zm.33.33a.33.33 0 00-.33-.33v.5a.17.17 0 01-.17-.17h.5zm0 3.2v-3.2h-.5v3.2h.5zm-.33.33a.33.33 0 00.33-.33h-.5a.17.17 0 01.17-.17v.5zm-3.2 0h3.2v-.5H17v.5zm-.33-.33a.33.33 0 00.33.33v-.5a.17.17 0 01.17.17h-.5zm0-3.2v3.2h.5v-3.2h-.5z' fill='%23DF4B24'/%3E%3C/svg%3E");
  }

  &.icon-clock {
    background-position: center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
    background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 24C5.3831 24 0 18.6169 0 12S5.3831 0 12 0s12 5.3831 12 12-5.3831 12-12 12zm0-22.4176C6.2558 1.5824 1.5824 6.2558 1.5824 12S6.2558 22.4176 12 22.4176 22.4176 17.7442 22.4176 12 17.7442 1.5824 12 1.5824z' fill='%23DF4B24'/%3E%3Cpath d='M15.8709 14.7548l-3.0815-3.0813V5.0493a.791.791 0 00-.7912-.7912.7912.7912 0 00-.7912.7912v6.9518a.782.782 0 00.0159.1548c.0047.0243.0137.0467.0205.0702.0077.0261.0137.0522.0243.0775.0116.0282.0274.0538.0422.0804.0103.0185.0182.038.0301.0557a.7808.7808 0 00.0999.1221l3.3123 3.3123a.789.789 0 00.5594.2318.7889.7889 0 00.5593-.2318c.3091-.3091.3091-.8105 0-1.1193z' fill='%23DF4B24'/%3E%3C/svg%3E");
  }

  &.icon-live {
    background-position: center center;
    background-size: contain;
    width: 65px;
    height: 30px;
    background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 86 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='75.9199' cy='16.2839' r='8.9174' stroke='%23DF4B24' stroke-width='2.3263'/%3E%3Cpath d='M80.4028 16.2839l-6.7203 3.88v-7.76l6.7203 3.88zM3.2284 26.0001h11.7368v-3.0707H6.7085V5.7336H3.2284v20.2665zM21.6687 5.7337h-3.4801V26h3.4801V5.7337zM36.2715 26l7.7108-20.2664h-3.7189l-6.039 16.7522-6.0731-16.7523h-3.7872l7.7108 20.2665h4.1966zm13.8508-3.0707v-5.6636h8.2908v-3.0025h-8.2908v-5.459h8.9391V5.7337H46.6763V26h12.5898v-3.0707h-9.1438z' fill='%23DF4B24'/%3E%3C/svg%3E");
  }


}

@include generate-icon(15);
