//
// Util Typography
// --------------------------------------------------

// Variables
// --------------------------------------------------
$font-base-path: '../../fonts';


// Fonts
// --------------------------------------------------

//SourceSansPro

@font-face {
  font-family: "SourceSansPro";
  src: url('#{$font-base-path}/SourceSansPro/SourceSansPro-Light.woff2') format('woff2'),
  url('#{$font-base-path}/SourceSansPro/SourceSansPro-Light-webfont.woff') format('woff'),
  url("#{$font-base-path}/SourceSansPro/SourceSansPro-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('#{$font-base-path}/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'),
  url('#{$font-base-path}/SourceSansPro/SourceSansPro-Regular-webfont.woff') format('woff'),
  url("#{$font-base-path}/SourceSansPro/SourceSansPro-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('#{$font-base-path}/SourceSansPro/SourceSansPro-Semibold.woff2') format('woff2'),
  url('#{$font-base-path}/SourceSansPro/SourceSansPro-Semibold-webfont.woff') format('woff'),
  url("#{$font-base-path}/SourceSansPro/SourceSansPro-Semibold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('#{$font-base-path}/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2'),
  url('#{$font-base-path}/SourceSansPro/SourceSansPro-Bold-webfont.woff') format('woff'),
  url("#{$font-base-path}/SourceSansPro/SourceSansPro-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('#{$font-base-path}/SourceSansPro/SourceSansPro-Black.woff2') format('woff2'),
  url('#{$font-base-path}/SourceSansPro/SourceSansPro-Black-webfont.woff') format('woff'),
  url("#{$font-base-path}/SourceSansPro/SourceSansPro-Black.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}